@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

*,
html,
body{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body{
  font-family: 'Helvetica Neue', sans-serif;
                                              
}